*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #085914;
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}
.titulo{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}
/* Header */

header{
    width: 100%;
    height: 600px;
    Background: #33dd08, #bacc19;  /* fallback for old browsers */
Background: -webkit-linear-gradient(rgba(65, 31, 190, 0.678), rgba(64, 21, 182, 0.705));  /* Chrome 10-25, Safari 5.1-6 */
Background: linear-gradient(#085914, #84bf04), url(../fondoblanco.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}
nav{
    text-align: center; 
    padding: 30px 50px 0 0 ;


}
nav > a{
    color: white;
    font-weight: 300;
    text-decoration:none;
    margin-right: 30px;

}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: white;

}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}



/* About us */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}
.imagen-about-us{
    width: 40%;
    height: 400%;

}
.sobre-nosotros .contenido-textos{
    width: 48%;

}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #05491f;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 5px;
    


}
.contenido-textos h3{
    color: #fff;
}
.contenido-textos p{
    color: #fff;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/* Galeria */
.portafolio{
    background: rgba(53, 133, 53, 0.788);
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(130, 91%, 17%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}
.hover-galeria img{
    width: 50px;

}
.hover-galeria p{
    color: white;

}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
/*Clients*/

.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #279207;
    display: flex;
    width: 46%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);


}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card >.contenido-texto-card{
    width: 60%;
    color: white;

}
.cards.card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
    
}

/* Our team */

.about-services{
    background: #0c74099f;
    padding-bottom: 30px;

}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-int{
    width: 28%;
    text-align: center;
}
.servicio-int img{
    width: 90%;
}
.servicio-int h3{
    margin: 10px 0;

}
.servicio-int p{
    font-weight: 300;
    text-align: justify;
    
}

/* footer */

footer{
    background:#02360f;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-fuler{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}
.cotent-foo{
    text-align: center;
}
.cotent-foo h3{
    color: white;
    border-bottom: 3px solid #02360f;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: white;
    
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ccc;
}
